In [1]:
import pandas as pd
import uuid

In [178]:
# Reading the dataframes

content=pd.read_csv("Content.csv")
content=content.drop(columns=['Unnamed: 0'])

reaction=pd.read_csv("Reactions.csv")
reaction=reaction.drop(columns=['Unnamed: 0'])

reaction_type=pd.read_csv("ReactionTypes.csv")
reaction_type=reaction_type.drop(columns=['Unnamed: 0'])

In [164]:
#Removing rows that have values which are missing

content=content.dropna()
reaction=reaction.dropna()
reaction_type=reaction_type.dropna()

In [62]:
# changing the data type of some values within a column
content.dtypes

Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object

In [63]:
content['Content ID'] = content['Content ID'].apply(uuid.UUID)
content['User ID'] = content['User ID'].apply(uuid.UUID)
content['Type']=content['Type'].astype(str)
content['Category']=content['Category'].astype(str)
content['URL']=content['URL'].astype(str)

In [64]:
# Check individual column types
print(type(content['Content ID'].iloc[0]))
print(type(content['User ID'].iloc[0]))
print(type(content['Type'].iloc[0]))
print(type(content['Category'].iloc[0]))
print(type(content['URL'].iloc[0]))

<class 'uuid.UUID'>
<class 'uuid.UUID'>
<class 'str'>
<class 'str'>
<class 'str'>

In [65]:
reaction.dtypes

Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object

In [66]:
reaction['Content ID'] = reaction['Content ID'].apply(uuid.UUID)
reaction['User ID'] = reaction['User ID'].apply(uuid.UUID)
reaction['Type']=reaction['Type'].astype(str)
reaction['Datetime']=pd.to_datetime(reaction['Datetime'])

In [67]:
# Check individual column types
print(type(reaction['Content ID'].iloc[0]))
print(type(reaction['User ID'].iloc[0]))
print(type(reaction['Type'].iloc[0]))
print(type(reaction['Datetime'].iloc[0]))

<class 'uuid.UUID'>
<class 'uuid.UUID'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [68]:
reaction_type.dtypes

Type         object
Sentiment    object
Score         int64
dtype: object

In [184]:
content['Category'] = content['Category'].str.replace('"', '', regex=False)

In [185]:
reaction_type['Type']=reaction_type['Type'].astype(str)
reaction_type['Sentiment']=reaction_type['Sentiment'].astype(str)

In [186]:
print(type(reaction_type['Type'].iloc[0]))
print(type(reaction_type['Sentiment'].iloc[0]))

<class 'str'>
<class 'str'>

In [187]:
m1=pd.merge(reaction,reaction_type,on='Type',how='outer')
m2=pd.merge(m1,content,on='Content ID',how='outer')
m2=m2.drop(columns=['User ID_x','User ID_y','Datetime','Type_y','URL'])
m2=m2.rename(columns={'Type_x':'Reaction Type'})
m2=m2.dropna()
data=m2.to_csv('clean_merge_data.csv',index=False)

In [197]:
category_data=m2.groupby('Category')['Score'].sum().reset_index()
Top_5_category=category_data.sort_values(by='Score',ascending=False)
Top_5_category=Top_5_category.head()
Top_5_category.to_csv('Top_5_categories.csv',index=False)

In [199]:
m2

,Content ID,Reaction Type,Sentiment,Score,Category
0,004e820e-49c3-4ba2-9d02-62db0065410c,heart,positive,60.0,tennis
2,00d0cdf9-5919-4102-bf84-ebde253c3cd2,adore,positive,72.0,healthy eating
3,00d0cdf9-5919-4102-bf84-ebde253c3cd2,adore,positive,72.0,healthy eating
4,00d0cdf9-5919-4102-bf84-ebde253c3cd2,adore,positive,72.0,healthy eating
5,00d0cdf9-5919-4102-bf84-ebde253c3cd2,adore,positive,72.0,healthy eating
...,...,...,...,...,...
25567,ff883828-a610-492d-8635-8a777eaad25f,want,positive,70.0,education
25568,ff883828-a610-492d-8635-8a777eaad25f,worried,negative,12.0,education
25569,ff883828-a610-492d-8635-8a777eaad25f,worried,negative,12.0,education
25570,ff883828-a610-492d-8635-8a777eaad25f,worried,negative,12.0,education
25571,ff883828-a610-492d-8635-8a777eaad25f,worried,negative,12.0,education